<div class="panel panel-default">
	<div class="panel-heading">{{activeBeer.name}}</div>
		<div class="panel-body">		
			<div class="row">
			<div class="col-sm-2">
				<img width="200px" height="350px" class="img-rounded" ng-src="{{'img/' + activeBeer.photo}}"/>
			</div>
			<div class="col-sm-8 col-sm-offset-1">
				<p class="form-control">{{activeBeer.name}}</p>
				<p class="well">{{activeBeer.description}}</p>		
				<div class="row">			
					<div class="col-sm-6">
						<p class="form-control">{{activeBeer.created_at}}</p>
					</div>			
					<div class="col-sm-6">
						<p class="form-control">{{activeBeer.updated_at}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<p class="form-control">{{viewBreweryName()}}</p>
					</div>
					<div class="col-sm-3" role="group" aria-label="DetailBrasseur">
						<!-- ne fonctionne pas comme il faut -->
						<a class="btn btn-default" data-ng-click="viewBrewery()">Voir la brasserie</a>
					</div>
					<div class="col-sm-3">
						<br>
						<a href="beers" class="btn btn-default" data-ng-click="exit=true">Retour à la liste des bieres</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>