<div name="ViewBeerDetail" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-ng-model="activeBeer.name">{{beer.name}}</h3>
  </div>
  <div class="panel-body">
	   <table>
	   <tr data-ng-model="beer">
	   <td>Photo</td>
	   <td>{{beer.name}}</td>
	   </tr>
	   <tr>
	   <td>Photo</td>
	   <td>{{beer.description}}</td>
	   </tr>
	  <tr>
	   <td>Photo</td>
	   <td>creer</td>
	   <td>mis a jour</td>
	   </tr>
	   <tr>
	   <td>Photo</td>
	   <td>Brasseur</td>
	   <td>Btn</td>
	   </tr>
   
   </table>
  </div>
</div>